# Python
__pycache__/
*.pyc
.pytest_cache/
backend/.venv/
backend/.ruff_cache/

# SQLite database
*.sqlite
*.db

# Node
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Misc
*.local
.DS_Store
.idea/
*.suo
*.sw?
